node_modules/
package-lock.json
yarn.lock

dist/
build/
out/
*.log

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-workspace

*.tmp
*.swp
*.lock

.cache/
.temporary/

.env
.env.local
.env.*.local

coverage/
*.html

tailwind.config.js
postcss.config.js
