@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cascadia Mono';
  src: url('./fonts/CascadiaMono.ttf') format('truetype');
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
